@import '../../node_modules/bootstrap/scss/bootstrap';


// Variables
$swyellow: #FEE836;
$white: #ffffff;
$bg: #444444;
$font: "Antenna", sans-serif;

// Typo
body{
  background-color: $bg;
  color:$white;
  font-family: $font !important;
}

h1, h2, h3{
  color: $swyellow;
  font-family: $font !important;
}

// Grid adjustments
.col-md-2, .col-md-3, .col-md-6, .col-md-12{
  margin-top: 10px;
}


// Small layout and design adjustments
.table{
  th, td{
    border-top:none;
    padding-left:2px;
    color:$white;
  }
  thead th{
    font-size:22px;
    color: $swyellow;
  }
}
.table-res{
  margin-top: 30px;
}

input[type=search]{
  margin:-10px 0 10px 0;
}

ul{
    li a:first-child{
    margin-left: -16px;
  }
}

.nav-link{
  color:$white;
  &:hover{
    color: $swyellow;
  }
}